$section-padding: 3.5rem;
$padding: 2rem;
$transition: .3s;
$tShadow: 0 0 2px hsl(0, 0%, 0%);


// Fonts

$fs-small: 0.8rem;
$fs-med: 1rem;
$fs-large: 1.4rem;

// Media variables
$max-small: "max-width: 767px";
$min-small: "min-width: 768px";
$max-medium: "max-width: 991px";
$mim-medium: "min-width: 992px";
$max-large: "max-width: 1199px";
$min-large: "min-width: 1200px";
$m1070 : "max-width: 1070px";